* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Esto asegura que la imagen no se desplace con el contenido de la página */
}

.main-container {
  width: 60%;
  height: 60vh;
  background-color: #343964;
  border-radius: 10px;
  padding: 2%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game {
  text-align: center;
}

h4 {
  font-family: "Outfit", sans-serif;
  color: #8b8eab;
  padding-bottom: 2%;
}

.quiz-number {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50%;
  height: 6vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
}

.circle-intent {
  font-family: "Outfit", sans-serif;
  font-weight: 50;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  /* background: linear-gradient(#e65895, #bc6be8); */
  background: #393f6e;
  color: white;
}

.bg-quiz-pass {
  background: linear-gradient(#e65895, #bc6be8);
}

.quiz {
  display: flex;
  align-items: center;
  width: 40%;
  color: #fff;
  font-weight: 600;
  font-size: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6vh;
}

.options-answers {
  width: 60%;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de tamaño igual */
  grid-template-rows: repeat(2, auto); /* Dos filas con altura automática */
  gap: 10px 10px; /* 5px de espacio vertical y 10px de espacio horizontal */
}

.answer {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  border-radius: 10px;
  background-color: #393f6e;
  padding: 20px;
  text-align: center;
}

.answer:hover {
  cursor: pointer;
  background: linear-gradient(#e65895, #bc6be8);
}

.congrats {
  display: none;
  width: 25%;
  height: 50vh;
  border-radius: 3%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #393f6e;
}

.container-svg {
  width: 90%;
  height: 20vh;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.container-svg svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-info {
  width: 100%;
  height: auto;
}

.congrats-msg {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
}

.congrats-msg p {
  color: #ffecc8;
  font-size: 1.25rem;
  font-weight: 650;
}

.intents {
  color: #ffecc8;
  width: 80%;
  padding-top: 5%;
  padding-bottom: 7%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.play-again {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 7vh;
}

.play-again button {
  width: 100%;
  height: 100%;
  border: none;
  background: linear-gradient(#e65895, #bc6be8);
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  border-radius: 50px;
}

.play-again button:hover {
  cursor: pointer;
}
